
/* banner */
#sub1_2_header {
  width: 100%;
  min-width: 1200px;
  height: 330px;
  background: url(../image/route.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  /* outline: 1px solid red; */
}

#sub1_2_header h1{
  height: 500px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 330px;
}

#sub-gnb {
  width: 1200px;
  margin: 0 auto;
  /* background: #abc; */
}
#sub-gnb::after {
  content: '';
  display: block;
  clear: both;
}

#sub-gnb li a {
  float: left;
  width: 400px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#sub-gnb li .active {
  background:#4d3f3a;
  color: #fff;
}

#sub-gnb > .location {
  height: 18px;
  float: right;
  font-size: 12px;
  /* outline: 1px solid red; */
  margin-bottom: 56px;
}

#map {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  /* outline: 1px solid red; */
  margin-bottom: 44px;
  /* background: #abc; */
}

#map h2 {
  font-size: 30px;
  font-weight: bold;
  /* outline: 1px solid red; */
  margin-bottom: 50px;
}
#map iframe {
  margin-bottom: 50px;
}
#map p {
  font-weight: 700;
  padding-bottom: 15px;
  /* background: #ccc; */
}

#map > #daumRoughmapContainer1604367390534 {
  margin: 0 auto;
  margin-bottom: 50px;
}